[delta "everforest"]
    dark = true
    syntax-theme = "Everforest Dark"
    minus-style = normal "#543A48"
    plus-style = syntax "#425047"

    minus-emph-style = normal "#8E4C55"
    plus-emph-style = syntax "#62774E"

    line-numbers-minus-style = "#E66868"
    line-numbers-plus-style = "#93B259"

    hunk-header-decoration-style = "#7FBBB3" box
    hunk-header-file-style = "#7FBBB3"
    hunk-header-line-number-style = "#7FBBB3"

    line-numbers-style = "#7FBBB3"
    line-numbers-left-style = "#7FBBB3"
    line-numbers-right-style = "#7FBBB3"

    file-decoration-style = "#7FBBB3" ul
    file-style = "#7FBBB3"
