[delta "everforest"]
    dark = true
    syntax-theme = "everforest"

    minus-style = syntax "#4C3743"
    plus-style = syntax "#3C4841"

    minus-emph-style = syntax "#854953"
    plus-emph-style = syntax "#5D714D"

    minus-non-emph-style = syntax auto
    plus-non-emph-style = syntax auto

    line-numbers-minus-style = "#E66868"
    line-numbers-plus-style = "#93B259"

    hunk-header-decoration-style = "#7FBBB3" box
    hunk-header-file-style = "#7FBBB3"
    hunk-header-line-number-style = "#7FBBB3"

    line-numbers-style = "#7FBBB3"
    line-numbers-left-style = "#7FBBB3"
    line-numbers-right-style = "#7FBBB3"

    file-decoration-style = "#7FBBB3" ul
    file-style = "#7FBBB3"

    inline-hint-style = "#7FBBB3"

    git-moved-to-style = bold purple
    git-moved-from-style = bold cyan
    map-styles = \
        everforest.git-moved-to-style => syntax "#35352E", \
        everforest.git-moved-from-style => syntax "#35352E"
