[delta "everforest"]
    dark = true
    syntax-theme = "everforest"

    minus-style = normal "#543A48"
    plus-style = syntax "#425047"

    minus-emph-style = normal "#854953"
    plus-emph-style = syntax "#5D714D"

    minus-non-emph-style = syntax auto
    plus-non-emph-style = syntax auto

    line-numbers-minus-style = "#E66868"
    line-numbers-plus-style = "#93B259"

    hunk-header-decoration-style = "#7FBBB3" box
    hunk-header-file-style = "#7FBBB3"
    hunk-header-line-number-style = "#7FBBB3"

    line-numbers-style = "#7FBBB3"
    line-numbers-left-style = "#7FBBB3"
    line-numbers-right-style = "#7FBBB3"

    file-decoration-style = "#7FBBB3" ul
    file-style = "#7FBBB3"

    inline-hint-style = "#7FBBB3"
